{% extends 'hodor/layout.html' %}

{% block menu %}
    <li class="nav-item border-left">
        <a class="nav-link" href="{% url 'hodor:tournament_detail' tournament_id=tournament.id tournament_slug=tournament.slug %}">Turnaj '{{ tournament.name }}'</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hodor:tournament_result' tournament_id=tournament.id tournament_slug=tournament.slug %}">výsledky</a>
    </li>
    {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'hodor:tournament_admin' tournament_id=tournament.id tournament_slug=tournament.slug %}">ADMIN</a>
        </li>
    {% endif %}
{% endblock %}