{% extends 'hodor/tournament/layout.html' %}
{% load hodor_filters %}
{% load static %}

{% block menu %}
    {{ block.super }}
    <li class="nav-item border-left">
        <a class="nav-link" href="{{ tournament_result.get_absolute_url }}">
            {{ tournament_result.attacker.player_name }}#{{ tournament_result.attacker.player_id }}
            vs
            {{ tournament_result.defender.player_name }}#{{ tournament_result.defender.player_id }}
        </a>
    </li>
{% endblock %}

{% block title %}SGM | Turnaj {{ tournament.name }} {% endblock %}
{% block js %}
    <script src="{% static 'js/display_battle.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="battles-wrapper pt-5">
            <div class="battle-event-entry">
                <div class="fight-player">
                    {{ tournament_result.attacker.player_name }} ({{ tournament_result.attacker.player_id }})
                </div>
                <div class="attacked">
                    zaútočil na
                </div>
                <div class="fight-player">
                    {{ tournament_result.defender.player_name }} ({{ tournament_result.defender.player_id }})
                </div>
                <div class="green-info">
                    [ Tento útok je prvoútokem ]
                </div>
            </div>
            {% for event in log_events %}
                {% render_battle_log_entry event %}
            {% endfor %}
        </div>
    </div>
{% endblock %}