{% load hodor_filters %}
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col" colspan="2" rowspan="2">Obránce &rarr;<br>Útočník &downarrow;</th>
            {% for submission in tournament_submissions %}
                <th scope="col" class="text-nowrap">
                    <a href="{% url 'hodor:tournament_result_player' tournament_id=submission.tournament.id tournament_slug=submission.tournament.slug player_id=submission.id %}">{{ result.opponent_name }}#{{ result.opponent_id }}
                        {{ submission.player_name }}#{{ submission.player_id }}
                    </a>
                </th>
            {% endfor %}
        </tr>
        <tr>
            {% for submission in tournament_submissions %}
                <td class="text-nowrap">{{ submission.main_stack }}</td>
            {% endfor %}
        </tr>
        </thead>
        {% for attacker in tournament_submissions %}
            <tr>
                <th scope="col" class="text-nowrap">
                    <a href="{% url 'hodor:tournament_result_player' tournament_id=attacker.tournament.id tournament_slug=attacker.tournament.slug player_id=attacker.id %}">{{ result.opponent_name }}#{{ result.opponent_id }}
                        {{ attacker.player_name }}#{{ attacker.player_id }}
                    </a>
                </th>
                <td class="text-nowrap">{{ attacker.main_stack }}</td>

                {% for defender in tournament_submissions %}
                    {% if attacker == defender %}
                        <td class="text-center">&mdash;</td>
                    {% else %}
                        {% tournament_result tournament_results attacker.id defender.id as result %}

                        {% if result is None %}
                            <td class="text-center bg-warning">&mdash;</td>
                        {% else %}
                            <td class="text-center position-relative {{ result|tournament_result_bg }}">
                                <a class="stretched-link text-light" href="{{ result.get_absolute_url }}">
                                    {{ result.attacker_losses|percent }}&nbsp;:&nbsp;{{ result.defender_losses|percent }}
                                </a>
                            </td>
                        {% endif %}

                    {% endif %}
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
</div>